:root{
  --welcomeHeight: 820px;
  --welcomeWidth: 950px;
}


.welcomeWrapper{
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-content: space-evenly;

  height: 100vh;
  width: 100vw;

  padding-top: 0;
}

.welcomeLight{
  background-image: url("./assets/LightButton.svg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: var(--welcomeHeight);
  width: var(--welcomeWidth);
}
.welcomeVideo{
  background-image: url("./assets/VideoButton.svg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: var(--welcomeHeight);
  width: var(--welcomeWidth);
}

.welcomeSound{
  background-image: url("./assets/SoundButton.svg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: var(--welcomeHeight);
  width: var(--welcomeWidth);
}

.welcomeBlinds{
  background-image: url("./assets/BlindsButton.svg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: var(--welcomeHeight);
  width: var(--welcomeWidth);
}

.wrapperLightBackground{
  
}