.defaultButton{
    border: none;

    background-color: transparent;

    display: flex;

    flex-direction: row;

    justify-content: center;
}

.activeButton{
    border: none;

    background-color: transparent;

    display: flex;

    flex-direction: row;

    justify-content: center;

}


.buttonIcon{
    padding-left: 250px;
}

.activeButtonIcon{

    filter: invert(14%) sepia(98%) saturate(6596%) hue-rotate(322deg) brightness(88%) contrast(102%);

    padding-left: 250px;
}

.activeBlindsIcon{
    filter: invert(14%) sepia(98%) saturate(6596%) hue-rotate(322deg) brightness(88%) contrast(102%);

}

.buttonText{
    
    font-familiy: teleNeo;

    color: black;

    font-size: 45px;
    margin: auto;


    padding: 10px 0;
    text-align: center;

}

.activeButtonText{
    font-familiy: teleNeo;

    color: #e20074;

    font-size: 45px;
    margin: auto;


    padding: 10px 0;
    text-align: center;
}